:root {
    --ocean: #404BBF;
    --navyblue : #2E2F42;
    --slate :#434455;
    --iris : #4D5AE5;
    --cloud :#F4F4FD;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
ul ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}




.container {
    display: flex;
    align-items: center;
}

.list-menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navigation-menu {
    display: flex;
    align-items: center;
}


.header-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}



.header {
    border: 1px solid #E7E9FC;
}


.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    text-transform: uppercase;
    margin-right: 76px;
}
.span-logo {
    color: var(--navyblue);
}



.menu .link {
    display: block;
    font-weight: 500;
    padding: 24px 0;
}

.menu .link:hover, .menu .link:active {
    color: var(--ocean);
}

.com-menu {
    display: flex;
    margin-left: auto;
    
    
}

.com-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.address-link:hover, .address-link:active {
    color: var(--ocean);
}

/* header end */


/* main */

.hero-section {
    background-color: var(--navyblue);
    padding: 188px 0;
}

.hero-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head-first {
    margin-top: 188px;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 48px auto ;
}
.but_first {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: var(--iris);
    padding: 16px 32px;
    border: 0;
    min-width: 169px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.but_first:hover, .but_first:focus, .but_first:active {
    background-color: var(--ocean);
}
/*                        features                              */
.features-sec {
   padding: 120px 0;
   max-width: 1128px;
   margin: 0 auto;
   
}

.features-list {
    display: flex;
    gap: 24px;
    margin: 120px 0;
}

.features {
    flex-basis: calc((100% - 3 * 24px) / 4);
    list-style: none;
    
}

.features-head {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.features-head {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
}





.features-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;   
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
